// $primary-color: #4DBA8E;

.link {
  color: black;
  margin-left: 30px;
}

.dropdown {
  text-decoration: aliceblue;
}

.card {
  background-color: #4DBA8E;
  border-color: #97B699;
  border-radius: 20px;
  margin-top: 10px;
  // margin-left: 35px;
  // width: 80%;
}

.navbar {
  background-color: #4DBA8E;
}

.nav {
  margin-right: 100px;
}

// .cardImg {
//   padding: 10px;
// }

.img {
  border-radius: 10px;
  
}

.footer {
  background-color: #4DBA8E;
}